{% extends "::admin_base.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/mdeditor.css') }} ">
{% endblock %}
{% block body %}
{{ parent() }}
	<div class="container">
		<h1> Editer  un article </h1>

	<form class="form-group" action="{{ path("admin_editer_article" , {'id': id}) }}" method="post">
		{{ form_widget(form)}}

		<input class="btn btn-primary" type="submit">
	</form>

{% endblock%}	
{% block javascripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ asset('js/mdeditor.js') }}"></script>
<script>
  var md = new MdEditor('#blog_blogbundle_article_contenu', {
    uploader: 'http://local.dev/Lab/MdEditor/app/upload.php',
    preview: true,
  });
</script>
<script type="text/javascript">
$(document).ready(function() {
  var $container = $('div#blog_blogbundle_article_tag');

  // On ajoute un lien pour ajouter une nouvelle catégorie
  var $lienAjout = $('<a href="#" id="ajouter_tag" class="btn btn-success">Ajouter un tag</a>');
  $container.append($lienAjout);

  // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
  $lienAjout.click(function(e) {
    	ajouterTag($container);
    	e.preventDefault(); // évite qu'un # apparaisse dans l'URL
    	return false;
  	});

  // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
  var index = $container.find(':input').length;

  // On ajoute un premier champ directement s'il n'en existe pas déjà un (cas d'un nouvel article par exemple).
  if (index == 0) {
    ajouterTag($container);
  } else {
    // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
    $container.children('div').each(function() {
      ajouterLienSuppression($(this));
    });
  }

  // La fonction qui ajoute un formulaire Categorie
  function ajouterTag($container) {
    var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Tag n°' + (index+1))
                                                        .replace(/__name__/g, index));

    // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
    ajouterLienSuppression($prototype);

    // On ajoute le prototype modifié à la fin de la balise <div>
    $container.append($prototype);

    // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
    index++;
  }

  // La fonction qui ajoute un lien de suppression d'une catégorie
  function ajouterLienSuppression($prototype) {
    // Création du lien
    $lienSuppression = $('<a href="#" class="btn btn-danger">Supprimer</a>');

    // Ajout du lien
    $prototype.append($lienSuppression);

    // Ajout du listener sur le clic du lien
    $lienSuppression.click(function(e) {
      $prototype.remove();
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });
  }
});
</script>

 {% endblock %}